.smallsizeh1 {
  visibility: hidden;
}
@media (max-width: 450px) {
  .circlestaus {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px !important;
    margin: 10px !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .circlestaus h4 {
    font-size: 15px !important;
  }
  .circlestaus strong {
    font-size: 10px;
  }
  .row {
    margin: 20px;
    justify-content: center;
  }
  .bigsizeh1 {
    visibility: hidden;
  }
  .smallsizeh1 {
    visibility: visible;
    padding: 0 !important;
  }
}
