@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
}
.smallsizeh1 {
  visibility: hidden;
}
h4 {
  margin-top: 1rem !important;
}
@media (max-width: 800px) {
  .circlestaus {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px !important;
    margin: 10px !important;
    justify-content: center;
    text-align: center;
  }
  .circlestaus h4 {
    font-size: 15px !important;
  }
  .circlestaus strong {
    font-size: 10px;
  }
  .CarouselCaption.row {
    visibility: hidden;
    margin: 20px;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .circlestaus {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px !important;
    margin: 20px !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .circlestaus h4 {
    font-size: 15px !important;
  }
  .circlestaus strong {
    font-size: 10px;
  }
  .CarouselCaption.row {
    margin: 20px;
    justify-content: center;
    visibility: hidden;
  }
}
